@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite; /* slower for readability */
}

@keyframes marquee-vertical {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.animate-marquee-vertical {
  animation: marquee-vertical 13s linear infinite;
}
